
    <div class="row">
      <div class="left">  </div>

      <div class="right"> </div>
      <div class="block"></div>
      <div class="name" translate>МИ СТВОРЮЄМО</div>
      <div class="name1" translate>МИ<p></p> СТВОРЮЄМО<p></p>МАЙБУТНЄ</div>
      <div class="block">
          <button (click)="switchLanguage('en')">en</button>
          <button (click)="switchLanguage('fr')">fr</button>
      </div>
  </div>


  <article class="gradient-overlay">
    <div class="content">
      <h2>Gradient overlay</h2>
      <a class="btn" href="#">Ohh snap, Gradients</a>
    </div>
  </article>

